.place__image {

    margin: 0;
    width: 100%;
    max-height: 100%;
   
    object-fit: cover;

    transition: box-shadow 0.2s ease-in-out
}


.place__image:hover {
    box-shadow: 0 0 20px black;
}


@media screen and (max-width: 600px)
{    
    .place__image {
        position: relative;
        left: -16px;
        width: calc(100% + 32px);
    }
}
