@import url(./__logo/header__logo.css);
@import url(./__lang-links/header__lang-links.css);
@import url(./__lang-link/header__lang-link.css);

.header {
    margin: 0 auto;
    padding: 28px 48px 0 48px;
    max-width: calc(100% - 25.5px);
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px)
{
    .header {
        padding: 28px 24px 48px 24px;
    }
}

@media screen and (max-width: 320px)
{
    .header {
        padding: 16px 16px 48px 16px;
    }
}