@import url(./__nav/__nav.css);
@import url(./__lists/footer__lists.css);
@import url(./__list/footer__list.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);

.footer {
    margin: 0 auto;
    padding: 92px 48px 28px 48px;
    
    box-sizing: border-box;
    max-width: 1280px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content;
}

@media screen and (max-width: 768px)
{    
    .footer {
        padding: 88px 24px 28px 24px;
    }
}

@media screen and (max-width:600px)
{    
    .footer {
        padding: 64px 16px 24px 16px;

        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, max-content);

        grid-row-gap: 48px;
    }
}