@import url(./__links/footer__links.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);

.footer {
    margin: 92px 0 0 0;
    padding: 0 48px 28px 48px;

    max-width: 100%;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content;
}

@media screen and (max-width: 768px)
{    
    .footer {
        margin: 88px 0 0 0;
        padding: 0 24px 28px 24px;
    }
}

@media screen and (max-width:600px)
{    
    .footer {
        margin: 64px 0 0 0;
        padding: 0 16px 24px 16px;

        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, max-content);

        grid-row-gap: 48px;
    }
}